<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div class="author-card">
      <p>{{ author.name }}</p>
      {% for book in author.books.all %}
        <p>{{ book.title }}</p>
      {% endfor %}
    </div>
  </main>
</body>

</html>



