<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title></title>
</head>

<body>
  <header>
    <nav>
    </nav>
  </header>
  <main>
    <div class="book-card">
      <p>{{ book.title }}</p>
      <p>{{ book.author }}</p>
      <p>{{ book.pages }}</p>
      <p>{{ book.isbn }}</p>
      <p>{{ book.description }}</p>
    </div>
    <form action = "POST">
      ARE YOU SURE YOU WANT TO DELETE THIS BOOK???
      <button type="submit">DELETE THIS BOOK</button>
      <a href="/books">cancel</a>
  </main>
</body>

</html>



